{% extends "base.html" %}
{% block title %}
Course category create
{% endblock %}
{% block style %}
{% include "style.html" %}
{% endblock %}
{% block script %}
{% include "script.html" %}
{% endblock %}
{% block header %}
{% include "header.html" %}
{% endblock %}
{% block body %}
<div class="content">
    <div class="board">
        <div class="create_container">
            <h1>Создание списка</h1>
            <form method="post">
                <input class="title_input" maxlength="32" type="text" name="title" placeholder="Название">
                <p>
                <ul>
                    <li>
                        <input maxlength="37" placeholder="Новый пункт" name="li0">
                    </li>
                </ul>
                <button type="button" onclick="new_li()">Добавить</button>
                </p>
                <p>
                    <label>Выберите цвет:</label>
                    <input class="color_input" type="color" name="color" value="#ffffff">
                </p>
                <p style="color: red; text-shadow: black 1px 0 10px;">{{error}}</p>
                <button type="submit">Сохранить и вернуться на главную</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% include "footer.html" %}
{% endblock %}