<style type="text/css">
    hr {
        border: none;
        margin: 0;
        height: 1px;
        background-color: #42260B;
    }

    .menu {
        text-align: center;
        height: 8vh;
        background-color: #654321;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
    }

    .menu input {
        font-size: 30px;
        width: 50vw;
        height: 5vh;
        margin: 0;
    }

    .memo_create {
        position: absolute;
        top: 1.7vh;
        right: 28%;
        height: 45px;
        width: 45px;
        align-self: center;
        font-weight: bold;
        text-decoration: none;
        font-size: 40px;
        color: #dbac7d;
    }

    .memo_create:hover {
        color: #ffc892;
        background-color: #ac865f;
        border-radius: 20px;
    }

    .list_memo_create {
        position: absolute;
        top: 1.7vh;
        right: 25%;
        height: 45px;
        width: 45px;
        align-self: center;
        font-weight: bold;
        text-decoration: none;
        font-size: 40px;
        color: #dbac7d;
    }

    .list_memo_create:hover {
        color: #ffc892;
        background-color: #ac865f;
        border-radius: 20px;
    }

    .home {
        position: absolute;
        top: 1vh;
        left: 20vw;
        height: 55px;
        width: 55px;
        align-self: center;
        font-weight: bold;
        text-decoration: none;
        font-size: 50px;
        color: #dbac7d;
    }

    .home:hover {
        color: #ffc892;
        background-color: #ac865f;
        border-radius: 0;
    }

    .create_container {
        text-align: center;
    }

    .create_container h1 {
        margin: 0;
        padding-top: 6px;
        color: #ffc892;
        text-shadow: #42260B 1px 0 10px;
    }

    .create_container form {
        position: absolute;
        top: 12%;
        left: 33%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #B28558;
        width: 30vw;
        padding: 45px;
        box-shadow: 0 0 5px 2px;
    }

    textarea,
    input {
        border-radius: 5px;
        border: 2px solid #42260B;
        color: #dbac7d;
        text-shadow: 1px 1px #42260B;
        margin-bottom: 10px;
        background-color: #856443;
    }

    textarea::placeholder,
    input::placeholder {
        color: #dbac7d;
        text-shadow: 1px 1px #42260B;
    }

    .title_input {
        width: 30vw;
        text-align: center;
    }

    .text_input {
        padding-bottom: 26vh;
        padding-right: 5vw;
        padding-left: 5vw;
        resize: none;
        text-align: center;
    }

    .color_input {
        margin: 0;
        width: 110px;
    }

    label {
        color: #ffc892;
        text-shadow: #42260B 1px 0 10px;
        margin-right: 5px;
    }

    button {
        border-radius: 5px;
        border: 2px solid #42260B;
        color: #dbac7d;
        text-shadow: 1px 1px #42260B;
        background-color: #856443;
    }

    button:hover {
        color: #856443;
        text-shadow: 1px 1px #42260B;
        background-color: #dbac7d;
    }

    .header {
        height: 8vh;
    }

    .content {
        min-height: 82%vh;
    }

    .footer {
        text-align: center;
        height: 10%;
        background-color: #42260B;
    }

    .footer h5 {
        color: #dbac7d;
        text-shadow: #654321 1px 0 10px;
    }

    .board {
        margin-top: 1px;
        position: relative;
        width: 100%;
        height: 100vh;
        background: radial-gradient(#dbac7d, #B29170);
        background-size: cover;
    }

    .memos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        overflow: scroll;
        overflow-x: hidden;
    }

    .memo {
        position: relative;
        flex-basis: 20%;
        text-align: center;
        background-color: #B28558;
        min-width: 170px;
        min-height: 170px;
        max-width: 170px;
        max-height: 170px;
        padding: 65px 35px;
        box-shadow: 0 0 5px 2px;
        word-wrap: break-word;
        margin: 15px 0px;
        text-shadow: white 1px 0 10px;
    }

    .memo a {
        text-decoration: none;
    }

    .memo a:hover {
        color: white !important;
        text-shadow: black 1px 0 5px;
        text-decoration: underline solid white;
    }

    .memo h2 {
        position: absolute;
        top: 3%;
        left: 15%;
        min-width: 170px;
        max-width: 170px;
        margin: 0;
        max-height: 30px;
    }

    .memo h4 {
        max-height: 140px;
        text-align: start;
        margin-bottom: 15px;
    }

    .memo h5 {
        position: absolute;
        left: 38%;
        bottom: 2%;
        margin: 0;
    }

    ul {
        margin: 0;
        padding: 0;
        text-align: start;
    }


    .delete {
        position: absolute;
        top: 3%;
        right: 3%;
    }
</style>